<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.eleven.mapper.AuditMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.eleven.model.Audit" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="submit_time" property="submitTime" jdbcType="DATE" />
    <result column="audit_time" property="auditTime" jdbcType="DATE" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="ref_id" property="refId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
    <select id="selectMappingUnitAuditList" resultType="com.aaa.eleven.model.MappingUnit">
      SELECT tm.* FROM `t_mapping_unit`tm,t_audit ta
      <where>
        tm.audit_status=2 and ta.ref_id =tm.id
        <if test="unitName != null">
          and
          tm.unit_name like CONCAT('%','江城区','%')
        </if>
      </where>
    </select>
  <select id="selectAuditForUnitInfo" resultType="com.aaa.eleven.model.MappingUnit">
    select * from t_user a
    inner join t_mapping_unit b
    on a.id=b.user_id
    where a.status=0
    <if test="unitName != null">
      and b.unit_name=#{unitName}
    </if>
  </select>
</mapper>