<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.eleven.mapper.DictMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.eleven.model.Dict" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="DICT_ID" property="dictId" jdbcType="BIGINT" />
    <result column="KEYY" property="keyy" jdbcType="BIGINT" />
    <result column="VALUEE" property="valuee" jdbcType="VARCHAR" />
    <result column="FIELD_NAME" property="fieldName" jdbcType="VARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteBachById" parameterType="list">
    delete from t_dict where DICT_ID in
    <foreach collection="list" item="item" open="("  separator="," close=")">
      #{item}
    </foreach>
  </delete>
    <select id="selectAllDict" resultMap="BaseResultMap">
    SELECT * from t_dict
     <where>
       <if test="tableName !=null">
          and TABLE_NAME like concat('%',#{tableName},'%')
       </if>
       <if test="fieldName != null">
         and FIELD_NAME  like concat('%',#{fieldName},'%')
       </if>
       <if test="keyy != null">
         and KEYY like concat('%',#{keyy},'%')
       </if>
     </where>
  </select>
</mapper>